# Recommendation Operations

This Notebook contains interfaces that are needed to recommend projects to a user for the Web Demonstrator

In [1]:
import sys
import os
if os.path.abspath("..") not in sys.path:
    sys.path.append(os.path.abspath('..'))
from data import aws

# Show Mapping: User to Images

In [2]:
aws.get_user_goal()

   user_id            image
0        1          1,3,4,6
1        2        1,2,3,4,5
2        3  1,2,3,4,5,6,7,8
3       16            1,2,3
4       19            1,2,3

# Pick a User from List

In [3]:
user_id = 19

# Show Projects for User

In [4]:
aws.get_projects(user_id)

,NGO_NAME,PROJECT_TITLE
0,Off Road Kids Stiftung,Strassenkinder in Deutschland
1,Berliner Stadtmission,Hilfe für Wohnungslose – Kältehilfe der Berlin...
2,Frankfurter Arbeitsloseninitiative e. V.,"Bürgerladen, das Sozialkaufhaus d. Frankfurter..."
3,Verein für soziale Arbeit im Stadtteil Bockenheim,Zeit für einen Tapetenwechsel - Ein neuer Star...
4,StrassenBLUES e.V.,StrassenSPENDE für Obdachlose während Corona
5,Westwind Hamburg e.V. |,Westwind Hamburg e.V. - Fahrräder für Bedürfti...
6,Hanseatic Help e.V.,Hanseatic Help e.V. | Eine Hamburger Hilfsorga...
7,Hanseatic Help e.V.,Hamburg packt‘s zusammen!
8,StrassenBLUES e.V.,Unterstütze unseren Obdachlosen-Verein Strasse...
9,UNTER EINEM DACH gUG,Unter einem Dach: Gemeinsam für eine offene Ge...
10,Lebensbrücke International Deutschland gGmbH,Gegen Kinderarmut in Deutschland: Kostenloses ...
11,Stadtmission Nürnberg e.V.,Kindernotfonds der Stadtmission Nürnberg
12,Aufwind-Mannheim,Aufwind-Mannheim
13,NABU Gruppe Stuttgart e. V,Ihre Spende für die Natur in Stuttgart
14,POEMA e.V. Stuttgart-Armut und Umwelt in Amazo...,POEMA e.V. Stuttgart - Armut und Umwelt in Ama...
15,Caritasverband der Diözese Rottenburg-Stuttgart,"Hilfe für Menschen, die kein Zuhause haben"
16,Diakonie Düsseldorf,Flüchtlingen in Düsseldorf helfen!
17,Diakonie Düsseldorf,Corona Nothilfe: Jetzt in Düsseldorf helfen
18,vision:teilen e.V.,GUTENACHTBUS: für Obdachlose in Düsseldorf
19,Diakonie Düsseldorf,TrebeCafé für obdachlose Mädchen

# Show Mapping : Images to Goals

In [5]:
aws.get_image_goal()

    image_id             goal
0          1          1,3,4,6
1          2        1,2,3,4,5
2          3  1,2,3,4,5,6,7,8
3          4            11,17
4          5            6,7,8
5          6               10
6          7                9
7          8                8
8          9                5
9         10          4,6,7,9
10        11                1
11        12               12
12        13               13
13        14               14
14        15               15
15        16            1,2,3
16        17               16
17        18               17
18        19            1,2,3
19        20        3,4,5,6,7
20        21       6,7,8,9,10

# Show Mapping : Goals to Projects

In [6]:
aws.get_goal_project()

    project_id  goal    weight
0        22744     1  0.571429
1        49352     8  0.571429
2        79880     2  0.571429
3        36236    10  0.571429
4        34094     3  0.571429
..         ...   ...       ...
233      59962    13  0.142857
234      40502    13  0.142857
235      80975     8  0.142857
236      82404     6  0.142857
237      48952     3  0.142857

[238 rows x 3 columns]

# Show Raw Labeled Data

In [9]:
aws.get_labels()

,LABEL_ID,DATA_SOURCE,CITY,PROJECT_ID,NGO_NAME,PROJECT_TITLE,PROJECT_URL,SDG_1,SDG_2,SDG_3,SDG_4,LABEL_STATUS
0,0,0,City,Project ID,Betterplace NGO,Project Titel,Link to project,0,0,0,0,CHECKED
1,1,0,BERLIN,22744,Off Road Kids Stiftung,Strassenkinder in Deutschland,https://www.betterplace.org/de/projects/22744-...,1,0,0,0,BERLIN
2,2,0,,49352,jobs4refugees,Jobs4Refugees,https://www.betterplace.org/de/projects/49352-...,8,0,0,0,BERLIN
3,3,0,,79880,Tafel Deutschland e.V.,Corona: Wie Sie gemeinsam mit den Tafeln helfe...,https://www.betterplace.org/de/projects/79880-...,2,0,0,0,BERLIN
4,4,0,,36236,Start with a Friend e.V,Start with a friend,https://www.betterplace.org/de/projects/36236-...,10,0,0,0,BERLIN
...,...,...,...,...,...,...,...,...,...,...,...,...
196,196,0,,43625,BILING e.V,Kultur- und Bildungsangebote für gehörlose Kin...,https://www.betterplace.org/de/projects/43625-...,4,0,0,0,DORTMUND
197,197,0,,24133,Gegen Noma - Parmed e.V.,Leben von Noma Kinder mit Antibiotika und Präv...,https://www.betterplace.org/de/projects/24133-...,3,1,0,0,DORTMUND
198,198,0,,54424,Gemeinsam TECHO e.V.,TECHO: Soziale Projekte in Lateinamerika und d...,https://www.betterplace.org/de/projects/54424-...,4,9,0,0,DORTMUND
199,199,0,,35454,Stiftung Aktion Knochenmarkspende Bayern,Ärmel hoch gegen Blutkrebs!,https://www.betterplace.org/de/projects/35454-...,3,0,0,0,DORTMUND
200,200,0,,70849,Dentists for Africa,Zahnärztliche Aufklärung und Behandlung für 12...,https://www.betterplace.org/de/projects/70849-...,2,3,0,0,DORTMUND